body{
	font-family: Cuprum,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.header{
	background-color: #2C3E50;
	color: #fff;
	padding: 0;
}
.logo-brand.block20.block {
    font-size: 2.25rem;
    text-align: center;
    padding: 10px;
}
.name{
	font-size: 3.75em;
}
.hero{
	background-color: #008891;
	color: #fff;
	margin-top: 54px;
	height: 600px;
}
.about{
	background-color: #6B9B61;	
	color: #fff;
	
}

.portfolio-works ul{
	list-style: none;
}

.portfolio-works .section .item-works img{
	width: 70%;
    margin: 20px auto;
    display: block;
	cursor: pointer;
}
.portfolio-works .section .item-works .overlay{
	width: 70%;
	background: none;
	position: absolute;
	top: 0;
}
.portfolio-works .section .item-works:hover .overlay{
	display: block;
	width: 70%;
	background: #d1d5d8 url(../img/expand-icon.png) no-repeat center center;
	border-radius: 50%;
	opacity: .7;
}
/*.portfolio-works .section .item-works img:hover{
	background-image:url(../img/expand-icon.png) no-repeat center center;
	opacity: .5;
}*/
.intro-text{
	color: #fff;
}
.about .about-text p{
	padding: 0 25px;
}
.contact{
}
.contact .section a img{
	background-color: #fff;
	margin: 25px 5px;
}
.contact .section a:hover img{
	background-color: #008891;
	border-radius: 50%;
}
.footer{
	background-color: #2C3E50;
	color: #fff;
}
/*nav*/
.nav{
	text-align: right;
}
.mainMenu{
	margin: 25px 0;	
	display: none;
}
.mainMenu li a{
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
.mainMenu li a.active, .mainMenu li a:hover{
	color: #3d8eb9;
}
.dropdown-toggle.drop {
    display: block;
	position: absolute;
    top: 7px;
    right: 25px;
	background: url(../img/white_menu_icon.png)no-repeat top center;
    width: 42px;
    height: 42px;
}
/*modal*/
.modal-window{
	position: absolute;
	width: 90%;
    top: 25px;    
    left: 5%;
    background: #fff;
    padding: 25px;
    border: 1px #eee solid;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	display:none;
	
}
.modal-body img{
	display: block;
	margin: 10px auto;
}
.close{
	float: right;
    margin-top: -20px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #d35400;
    cursor: pointer;
}
.more{
	text-align: center;
    display: block;
    font-size: 32px;
    font-weight: 700;
	cursor: pointer;
	color: #fff;
    text-decoration: none;
    padding: 5px;
}
@media screen and (min-width: 47.375em){
	.mainMenu{	
		display: block;
	}
	.mainMenu li{
		display: inline-block;	
	}
	.dropdown-toggle.drop {
		display: none;
	}
	.hero{
		margin-top: 75px;
	}
	.modal-window{
		position: absolute;
		width: 60%;
		top: 25px;    
		left: 20%;
	}
}